	<%= render "header" %>
	<!-- HOME -->
	<section id="home" class="module-hero module-parallax module-fade module-full-height">

		<div class="hero-slider">
			<ul class="slides">

				<!-- SLIDE -->
				<li class="bg-dark">

					<%= image_tag("slider6.png", class: "slidebg slide-zoom bg-dark-30")  %>

					<div class="hs-caption container">
						<div class="caption-content">
							<div class="hs-title-size-3 font-alt m-b-20">
								Nós somos o PowerUp
							</div>
							<div class="hs-title-size-1 font-inc">
								educação e gentileza nos diferenciam da maioria.
							</div>
						</div>
					</div>

				</li>
				<!-- /SLIDE -->

				<!-- SLIDE -->
				<li class="bg-dark">

					<%= image_tag("/images/background.jpg", class: "slidebg slide-zoom bg-light-20")  %>

					<div class="hs-caption container">
						<div class="caption-content left">
							<div class="hs-title-size-3 font-alt m-b-20">
								Rumo à vitória
							</div>
							<div class="hs-title-size-1 font-inc">
								Porque um clan de verdade não é apenas força, procuramos amigos, <br> e um lugar onde possamos nos divertir,
								sem ofenças, com respeito, rivalidade e competitividade.
							</div>
						</div>
					</div>

				</li>
				<!-- /SLIDE -->

				<!-- SLIDE -->
				<li class="bg-dark">

					<%= image_tag("slider5.jpg", class: "slidebg slide-zoom bg-dark-")  %>

					<div class="hs-caption container">
						<div class="caption-content right">
							<div class="hs-title-size-3 font-alt m-b-20">
								Jogadores iniciantes
							</div>
							<div class="hs-title-size-1 font-inc">
								Queremos dar as boas vindas para você que está chegando <br> agora neste mundo 
								espero que possamos aproveitar <br> juntos todos os melhores momentos.
							</div>
						</div>
					</div>

				</li>
				<!-- /SLIDE -->

			</ul>
		</div>

	</section >
	<!-- /HOME -->

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- PORTFOLIO -->
		<section class="module-small p-t-20 p-b-0 p-t-sm-0">

			<div class="container hidden-xs">

				<!-- PORTFOLIO FILTER -->
				<div class="row">
					<div class="col-sm-12">

						<ul id="filters" class="filter font-inc">
							<li><a href="#" data-filter="*" class="current wow fadeInUp">Membros</a></li>
							<!-- <li><a href="#" data-filter=".illustration" class="wow fadeInUp" data-wow-delay="0.2s">Membros</a></li> -->
						</ul>

					</div>
				</div>
				<!-- /PORTFOLIO FILTER -->

			</div>

			<!-- PORTFOLIO LIST -->
			<ul id="works-grid" class="works-grid works-grid-masonry works-grid-3 works-hover-w">

				<!-- PORTFOLIO ITEM -->
				<li class="work-item illustration webdesign">
					<a href="#">
						<div class="work-image">
							<%= image_tag "avatar.png" , alt: "avatar", heigth: "80", width: "80" %>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Vice-Líder  (lutador)</h3>
							<div class="work-descr font-inc">
								Nick: AllenWalker¹''
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<li class="work-item marketing webdesign">
					<a href="#">
						<div class="work-image">
							<%= image_tag "avatar2.png" , alt: "avatar", heigth: "80", width: "80" %>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Você aqui!</h3>
							<div class="work-descr font-inc">
								Nick: seu nick
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->

				<!-- PORTFOLIO ITEM -->
				<li class="work-item illustration webdesign">
					<a href="#">
						<div class="work-image">
							<%= image_tag "avatar3.png" , alt: "avatar", heigth: "80", width: "80" %>
						</div>
						<div class="work-caption">
							<h3 class="work-title font-alt">Líder (Sacerdotisa)</h3>
							<div class="work-descr font-inc">
								Nick: Daphynie
							</div>
						</div>
					</a>
				</li>
				<!-- /PORTFOLIO ITEM -->
			</ul>
			<!-- /PORTFOLIO LIST -->

		</section>
		<!-- /PORTFOLIO -->

		<!-- TESTIMONIAL -->
		<section class="module-small">

			<div class="container">

				<div class="row">

					<!-- MODULE TITLE -->
					<div class="col-sm-6">
						<h2 class="module-title font-alt">União sempre</h2>
					</div>
					<!-- /MODULE TITLE -->

					<!-- BLOCKQUOTE -->
					<div class="col-sm-6">
						<blockquote class="font-serif align-right">
							<p>
								Procuramos sempre ajudar nossos amigos, pois achamos que o jogo fica bem melhor se jogado com amigos e upando em grupo =D.
							</p>
							<p class="font-inc font-uppercase">- AllenWalker¹</p>
						</blockquote>
					</div>
					<!-- /BLOCKQUOTE -->

				</div>

			</div>

		</section>
		<!-- /TESTIMONIAL -->

		<!-- ABOUT -->
		<section class="module p-t-0 p-b-0" data-background="/images/background.jpg">

			<div class="container-fluid">

				<div class="row relative">

					<div class="col-sm-12 col-md-6 col-md-offset-6 col-bg">

						<h2 class="module-title font-alt">Sobre nós</h2>

						<div class="module-subtitle font-inc">
							Entramos sempre no servidor <strong>Awell</strong>, no sub-servidor <strong>alfa</strong>, pois é onde se econtram a maioria dos <strong>players</strong> hoje.
							<p>
								Nosso foco é o <b>UP</b>, assim como diz o nome, nossa prioridade, por hora, não é o <b>SOD</b> e o <b>BC</b>, mas isso virá também como consequẽncia do UP.  
							</p>
						</div>

						<p>
							Para entrar no clan, basta procurar qualquer um dos nossos membros e falar que está interessado(a), ou mande <strong> PM</strong> para algum desses chars, <strong> Daphynie</strong>, <strong> AllenWalker¹</strong>, <strong> xxMAYLEExx</strong>. <br> Também estamos no TS (Team Speaker), caso prefira bater um papo com a gente. 
						</p>

						<p>
							Teremos apenas uma rápida conversa a respeito do jogo, apenas pra poder lhe conhecer um pouco mais, venha fazer o nosso game melhor ^-^,  estamos aguardando você!
						</p>

						<ul class="social-list">
							<li><a href="#"><span class="icon-facebook"></span></a></li>
							<li><a href="#"><span class="icon-twitter"></span></a></li>
							<li><a href="#"><span class="icon-googleplus"></span></a></li>
						</ul>

					</div>

				</div>

			</div>

		</section>
		<!-- /ABOUT -->

		<!-- CONTACT -->
		<section class="module-small">
		
			<div class="container">
		
				<div class="row">
		
					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="icon-map-pin"></span>
							</div>
							<div class="content-box-title font-inc">
								Ricarten - Priston Tale
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->
		
					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="icon-phone"></span>
							</div>
							<div class="content-box-title font-inc">
								+55 86 99493-8293
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->
		
					<!-- CONTENT BOX -->
					<div class="col-sm-4">
						<div class="content-box">
							<div class="content-box-icon">
								<span class="icon-envelope"></span>
							</div>
							<div class="content-box-title font-inc">
								xtreme_daniel13@hotmail.com
							</div>
						</div>
					</div>
					<!-- /CONTENT BOX -->
		
				</div>
		
			</div>
		
		</section>
		<!-- /CONTACT -->

		<%= render "footer" %>

	</div>
	<!-- /WRAPPER -->

	