<%= render "header" %>

<div class="wrapper">

	<!-- HOME -->
	<section class="module module-header bg-dark bg-dark-50" data-background="assets/images/section-5.jpg">

		<div class="container">

			<!-- MODULE TITLE -->
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<h1 class="module-title font-alt align-center">Mixagem</h1>

					<div class="module-subtitle font-inc align-center">
						Deixe seus items mais fortes com a mixagem, você tem um aumento de poder de ataque, ou defesa na hora, sem precisar <i>maturar</i>, como no aging.
					</div>

				</div>

			</div>
			<!-- /MODULE TITLE -->
		</div>

	</section >
	<!-- /HOME -->

	<!-- Imagens do mix -->
	<section >
		<div class="container">
			<div class="row">
				

				<div class="col-lg-6 col-md-6">
					<h2>Escudos</h2>
					<%= image_tag "escudos.png" %>
				</div>
				<div class="col-lg-6 col-md-6">
					<h2>Orbitais</h2>
					<%= image_tag "orbitais.png" %>
				</div>

				<div class="col-lg-6 col-md-6">
					<h2>Armaduras</h2>
					<%= image_tag "armaduras.png" %>
				</div>

				<div class="col-lg-6 col-md-6">
					<h2>Armas</h2>
					<%= image_tag "armas.png" %>
				</div>

			</div>

		</div>
	</section>

	<!-- /Imagens do mix -->
</div>

<%= render "footer" %>