<%= render "header" %>

<!-- HOME -->
<section id="home" class="module-hero module-parallax module-fade module-full-height">

	<div class="hero-slider">
		<ul class="slides">

			<!-- SLIDE -->
			<li class="bg-dark">

				<%= image_tag("slider1.jpg", class: "slidebg slide-zoom bg-dark-30")  %>

				<div class="hs-caption container">
					<div class="caption-content">
						<div class="hs-title-size-3 font-alt m-b-20">
							Nós somos o PowerUp
						</div>
						<div class="hs-title-size-1 font-inc">
							educação e gentileza nos diferenciam da maioria.
						</div>
					</div>
				</div>

			</li>
			<!-- /SLIDE -->

			<!-- SLIDE -->
			<li class="bg-light">

				<%= image_tag("slider2.jpg", class: "slidebg slide-zoom bg-light-20")  %>

				<div class="hs-caption container">
					<div class="caption-content left">
						<div class="hs-title-size-3 font-alt m-b-20">
							Rumo à vitória
						</div>
						<div class="hs-title-size-1 font-inc">
							Porque um clan de verdade não é apenas força, procuramos amigos, <br> e um lugar onde possamos nos divertir,
							sem ofenças, com respeito, rivalidade e competitividade.
						</div>
					</div>
				</div>

			</li>
			<!-- /SLIDE -->

			<!-- SLIDE -->
			<li class="bg-dark">

				<%= image_tag("slider5.jpg", class: "slidebg slide-zoom bg-dark-")  %>

				<div class="hs-caption container">
					<div class="caption-content right">
						<div class="hs-title-size-3 font-alt m-b-20">
							Jogadores iniciantes
						</div>
						<div class="hs-title-size-1 font-inc">
							Queremos dar as boas vindas para você que está chegando <br> agora neste mundo 
							espero que possamos aproveitar <br> juntos todos os melhores momentos.
						</div>
					</div>
				</div>

			</li>
			<!-- /SLIDE -->

		</ul>
	</div>

</section >
<!-- /HOME -->



<!-- ABOUT -->
		<section class="module p-t-0 p-b-0" data-background="/images/background.jpg">

			<div class="container-fluid">

				<div class="row relative">

					<div class="col-sm-12 col-md-6 col-md-offset-6 col-bg">

						<h2 class="module-title font-alt">Sobre nós</h2>

						<div class="module-subtitle font-inc">
							Entramos sempre no servidor <strong>Awell</strong>, no sub-servidor <strong>alfa</strong>, pois é onde se econtram a maioria dos <strong>players</strong> hoje.
						</div>

						<p>
							Para entrar no clan, basta procurar qualquer um dos nossos membros e falar que está interessado(a), ou mande <strong>PM</strong> diretamente para mim, poderá me encontrar nos seguintes chars, "<strong>AllenWalker¹</strong>", "<strong>Haineko&copy</strong>","<strong>TifaVitoriosa</strong>".
						</p>

						<p>
							Teremos apenas uma rápida conversa a respeito do jogo, apenas pra poder lhe conhecer um pouco mais, venha fazer o nosso game melhor ^-^,  Aguardo você!
						</p>

						<ul class="social-list">
							<li><a href="#"><span class="icon-facebook"></span></a></li>
							<li><a href="#"><span class="icon-twitter"></span></a></li>
							<li><a href="#"><span class="icon-googleplus"></span></a></li>
						</ul>

					</div>

				</div>

			</div>

		</section>
		<!-- /ABOUT -->


<%= render "footer" %>